@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.raza-detail{
    background-image: url("../../../img/imagen3.jpg");
    background-repeat: repeat;
    min-height: 100vh;
    width: 100% !important;
}

.raza-detail .details{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: 10px;
    border-radius: 20px;
    padding-bottom: 10px;
    font-family: Lobster;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(5px);
   

}
.contenido{
    background-image: url("../../../img/patron-lindo-caras-perro-huesos_1191-1204.jpg"); 
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
   
  
   
}
.raza-detail .details .image-detail{
   
    height: 400px;
    width: 550px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px #222;
}
.titu{
    color: black;
    font-family: Cookie;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weight-detail{
    line-height:1px;
  align-items:center;
   font-family: Kalam;
   display: flex;
   justify-content: space-around;
   align-items: center;

}
.weight-detail .tit{
    font-size: 30px;

}
.height-detail{
    line-height:1px;
  align-items:center;
   font-family: Kalam;
   display: flex;
   justify-content: space-around;
   align-items: center;

}
.height-detail .tit{
    font-size: 30px;
   
}
.span{
    line-height:1px;
  align-items:center;
   font-family: Kalam;
   display: flex;
   justify-content: space-around;
   align-items: center;

}
.span .tit{
    font-size: 30px;
}

.temperaments{
    line-height:1px;
  align-items:center;
   font-family: Kalam;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   line-height:15px;

}
.temperaments .tit{
    font-size: 25px;
 
}
.back{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to right, #9e6730 0%, #e8c39e 100%);
    font-family: Cookie ;
    letter-spacing:1px;
    font-size: 25px;
    color:rgb(231, 213, 188);
    border-radius: 30px;
    border: thick double #f3dbc3;
    margin-left: 43%;
    margin-top: 30px;
}
.back:hover{
    
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.7);
    
}
 @media (max-width:800px) {
   
    .raza-detail .details .image-detail{
        width:35vh;
        margin-left: 0;
    }
} 
@media (max-width:550px) {
   
    .raza-detail .details .image-detail{
        width:25vh;
        margin-left: 0;
    }
} 